################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/BarGraphTests/bin/Debug
/BarGraphTests/obj
/BarGraph/bin
/BarGraph/obj/Debug
